*.DS_Store
collecting-data/scanfiles
collecting-data/stlFiles
collecting-data/rendered_images
normalization/data_part_1
normalization/teeth3ds_dataset.npy
venv/
.env
.vscode
.python-version
pyproject.toml
uv.lock
.venv
__pycache__/
teeth3ds_mae_dataset.npy
train/best_point_mae_ddp.pth