*.DS_Store
collecting-data/scanfiles
collecting-data/stlFiles
collecting-data/rendered_images
normalization/data_part_1
normalization/simclr_dataset.npy
venv/
.env
.vscode
.python-version
pyproject.toml
uv.lock
.venv
__pycache__/
mae_dataset.npy
train/mae/best_point_mae_ddp.pth
normalization/teeth3ds_mae_dataset.npy
train/dinov3/dinov3_repo
train/dinov3/dinov3_vitl16_pretrain_lvd1689m-8aa4cbdd.pth